{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'admin/codervent.com/assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
    <h1 style="text-align: center;">Doctors</h1>
    <table style="width: 60%;margin-left: 20%;" class="display table table-striped table-hover" border="1">
        <tr>
            <th>Name</th>
            <th>Specialization</th>
            <th>Gender</th>
        </tr>
        {% for doctor in users %}
        <tr>
            <td>{{doctor.doctor_name}}</td>
            <td>{{doctor.specialization}}</td>
            <td>{{doctor.gender}}</td>
            <td><button class="btn btn-primary" type="submit"><a href="{% url 'patient_appointment' doctor.id %}" style="text-decoration: none;color: white;">Take appointment</a></button></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>